In [1]:
l =[1,8,9,0,9,8,7,7,6,5,5,5,4,4,7]

s = set(l)
s

{0, 1, 4, 5, 6, 7, 8, 9}

In [2]:
e = set()
e.add(12)
e

{12}

In [4]:
t = (1,2,3,4,"one")
t

(1, 2, 3, 4, 'one')

In [6]:
t1 = tuple(l)
t1

(1, 8, 9, 0, 9, 8, 7, 7, 6, 5, 5, 5, 4, 4, 7)